<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GYBanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>505322CF1CCB1DD400A46C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>505322E31CCB1DD400A46C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>505322EE1CCB1DD400A46C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
